@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scroll behavior */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #e2e8f0;
}

::-webkit-scrollbar-thumb {
  background: #cbd5f5;
  border-radius: 9999px;
  border: 2px solid #e2e8f0;
}

::-webkit-scrollbar-thumb:hover {
  background: #9db1f0;
}

.modal-scroll::-webkit-scrollbar {
  width: 6px;
}

.modal-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.modal-scroll::-webkit-scrollbar-thumb {
  background: #c7d2fe;
  border-radius: 9999px;
}

.modal-scroll::-webkit-scrollbar-thumb:hover {
  background: #9aa7ff;
}

.scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Manrope", sans-serif;
  @apply bg-white text-dark-text;
}

.hero-slider .swiper-button-next,
.hero-slider .swiper-button-prev {
  color: #008ecc !important;
  background-color: white;
  border-radius: 50%;
  width: 60px !important;
  height: 60px !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  padding: 20px;
}

.hero-slider .swiper-button-prev {
  left: -25px !important;
}

.hero-slider .swiper-button-next {
  right: -25px !important;
}

.hero-slider .swiper-button-next:hover,
.hero-slider .swiper-button-prev:hover {
  background-color: #eaeef0 !important;
  color: white !important;
}

.hero-slider .swiper-button-next:after,
.hero-slider .swiper-button-prev:after {
  font-size: 0.5rem !important;
  font-weight: 700 !important;
}

.swiper-pagination-bullet-active {
  background: #008ecc !important;
}
